<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>PRODUCTOS</title>
</head>
<body>

    <style type="text/css">
        body {
        font-family: Georgia, "Times New Roman",
          Times, serif;
          color: rgb(8, 5, 8);
          background-color: #e5e6c4 }
        </style>
        
    <p>INGRESE LOS DATOS DEL PRODUCTO</p>
    <form action="/api/productos" method="post">
        <div>
            <label for="name">Producto</label>
            <br>
            <input type="text" name="title">
        </div>
        <div>
            <label for="name">Precio</label>
            <br>
            <input type="number" name="price">
        </div>
        <div>
            <label for="name">Imagen</label>
            <br>
            <input type="text" name="thumbnail">
        </div>
        <input type="hidden" name="form" value="1" />
        <br>
        <button>INGRESAR PRODUCTO</button>
    </form>
</body>
</html>