<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>PRODUCTOS</title>
</head>
<body>

    <style type="text/css">
        body {
        font-family: Georgia, "Times New Roman",
          Times, serif;
          color: rgb(8, 5, 8);
          background-color: #e5e6c4 }
        </style>
        
    <p>INGRESE LOS DATOS DEL PRODUCTO</p>
    <form action="/api/productos" method="post">
        <div>
            <label for="name">Producto</label>
            <br>
            <input type="text" name="title">
        </div>
        <div>
            <label for="name">Precio</label>
            <br>
            <input type="number" name="price">
        </div>
        <form style="width: 40%;" action="http://localhost:8080/api/productos/archivo" method="POST" enctype="multipart/form-data" name="upload_img_form">
            <div class="mb-3">
                <label class="form-label" for="customFile">Imagen</label>
                <input type="file" class="form-control" id="customFile" name="file"/>
                <br>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar Producto</button>
        </form>
        <input type="hidden" name="form" value="1" />
    </form>
</body>
</html>